{% extends 'main.html' %}
{% load static %}
{% block title %} Delete {% endblock %}


{% block site %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Do you want delete "{{ task.title }}"?</h5>
    <p class="card-text">
        <form method="post">
        {% csrf_token %}
        <button class="card-link btn btn-primary" type="submit">Delete</button>
        <a href="{% url 'list' %}" class="card-link btn btn-primary">Back</a>
    </form>


    </p>
  </div>
</div>

{% endblock %}

